table.alertTable {
  width: 100%;
  text-align: left;
  th, td {
    vertical-align: text-top;
    padding: 0.25em;
  }
  td {
    border-style: solid none;
    border-color: #ccc;
    border-width: 1px;
  }

  .response.responding {
    color: #000;
    font-weight: bold;
  }
  .response.driver {
    font-weight: bold;
    color: #add8e6;
  }
  .response.onscene {
    font-weight: bold;
    color: #00ff00;
  }
  .response.clear {
    color: #bbb;
    font-weight: bold;
  }
  .response.sprvsr {
    color: #ff0000;
  }
}
